.component-scan-prompt {
    margin: 1.5vh;
    padding: 1vh;
    background-color: white;
    height: 5vh;
}

.prompt-text {
    font-weight: 550;
    width: 60%;
    font-size: 175%;
    float: left;
}

.scan-button {
    font-weight: 550;
    width: 40%;
    height: 100%;
    background-color: deepskyblue;
    font-size: 175%;
    border-width: 0;
}
